
@media only screen and (max-width:600px) {

    .navbar{
        background-color: #ca4172;
        height: 80px;
        box-shadow:2px 2px 15px 0px rgba(0,0,0,.42);
        align-items: center;
        vertical-align: middle;
        line-height: 10px;
    }

    .navbar ul.menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        background-color: #ca4172;
        width: 200px;
        height: 50vh;
        left:-2.0em;
        grid-column:1/9;
    }

    .menu li{
        margin-top: 3em;
        width: 100%;
    }

    .navbar .menu-bar{
        grid-column: 9/9 ;
        display: block;
        font-size: 2em;
        color: #fff;
        cursor: pointer;
    }
    
}