@import url(fuentes.css);
@import url(all.css);
/* @import url(bootstrap.css); */
/* @import url(mediaqueries.css); */


/**************
   E S T I L O S   G E N E R A L E S
**************/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:'Poppins';
    font-size: 15px;
    font-weight: 500;
    
}


img{
    display: block;
    width: 100%;
}

/*****************
            E S T I L O S   P A R A   E L   C O N T E N E D O R   
******************/
.main-header{
    padding: 0 20px;
}

.main-header__title{
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
    color: #454546;
}

.main-nav{
    display: none;
}

.main-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.icon-menu{
    font-size: 1.5em;
    border: 1px solid #454546;
    display: block;
    padding: 10px 15px;
    cursor: pointer;
}

.icon-menu:hover{
    background-color: #454546;
    color: #fff;
}

.main-header__btn{
    display: block;
    padding: 5px 25px;
    background-color: #454546;
    color: #fff;
    font-size: 0.9em;
    border: 1px solid #454546;
    text-decoration: none;
    cursor: pointer;
}


.main-header__input{
    display: block;
    padding: 5px 10px;
}



/**************
            E S T I L O S   P A R A   E L   S L I D E R 
**************/
.slider {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.slider ul{
  display: flex;
  padding:0;
  width: 400%;
  animation: cambiar 20s infinite alternate linear;
}


.slider li{
   width: 100%;
   list-style: none;
}

.slider:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}


.slider h2{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size:calc(4.0vw);
    font-family: "tangerine";
    font-weight: 400;
    width: 80%;
    text-align: center;
    font-family: "yesteryear";
}

.slider .texto{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-family: "Tangerine";
    font-size: calc(4.0vw);
    line-height: 35px;
    width: 60%;
}
/*************** 
           E S T I L O S   P A R A   L A S   I M A G E N E S
***************/
.slider img{
  width:100%;
  height:500px;

}

/************** 
         E S T I L O S   P A R A   L A   A N I M A C I O N   C A M B I A R  
**************/

@keyframes cambiar {
    0%{margin-left:0%}
    20%{margin-left:0%}

    25%{margin-left:-100%}
    45%{margin-left:-100%}
     
    50%{margin-left:-200%}
    70%{margin-left:-200%}

    75%{margin-left:-300%}
    100%{margin-left:-300%}

}

/*****************
            E S T I L O S   P A R A   E L   R E S P O N S I V E
******************/







@media screen and (max-width:1200px){
    .slider h2{
        font-size:calc(5vw);
        text-align: center;
    }

    .slider .texto{
        width: 80%;
    } 
}



@media only screen and (max-width:800px) {

    .slider h2{
        font-size:calc(4.5vw);
    }
    
    .slider .texto{
        width: 80%;
    } 
     


}

@media only screen and (max-width:500px) {

    .slider h2{
        font-size:calc(6vw);
    }
    
    .slider .texto{
        width: 80%;
    }  

}